doctype html
html(lang="en")
  head
    title Edit Book
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/styles.css")
  body
    .container
      h1.text-center.heading-lg Edit Book

      form(action=`/edit-book/${book.isbn}` method="POST" class="form-card")
        input(type="text" name="title" value=book.title required class="form-input")
        input(type="text" name="author" value=book.author required class="form-input")
        input(type="text" name="isbn" value=book.isbn required class="form-input")
        input(type="text" name="publisher" value=book.publisher class="form-input")
        input(type="date" name="published" value=formattedDate class="form-input")
        input(type="number" name="pages" value=book.pages class="form-input")
        textarea(name="description" rows="3" class="form-input") #{book.description}
        input(type="url" name="website" value=book.website class="form-input")
        button(type="submit" class="btn btn-yellow full-width") Update Book

      .text-center.mt-4
        a(href="/" class="link") ← Back to Book List
